
.postmain{
    flex: 9;
}
.posts{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
    max-height: 1000px;
    
    overflow-y: scroll;
    min-width: 400px;
    scroll-behavior:smooth

}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
   
}


@media screen and (max-width: 480px) {
    .posts{
        
        margin: 20px;
        max-height: 500px;
        overflow-y: scroll;
        min-width: 400px;
    }}